          <!--- CASE 1 : Homepage--><!---CASE 2 : Notes & Blog Page-->
          <div class="column is-three-fifths">
            <main>
              <div class="note-page-section">
                  {%- include Header.html -%}
                <h1>Purpose of a System</h1>
                <hr>
                <!-- Parse internal links, external links, transclusions etc and manipuate the content to reflect it accordingly -->
                <div class="content">
                    <p> This is a personal website and blog. To see things I've written go to  <a href="/notes">the feed</a>. You can also see book reviews and movie recommendations <a href="/books">here</a>, or browse a list of interesting articles and websites <a href="/posts/articles">here</a></p>
                </div>
                <!-- Add backlinks to the current page --><br>
                <br>
              <script src="/assets/js/modeswitcher.js"></script></main>
          </div>
          <!--- CASE 3 : Static Page --><!--- CASE 4 :  Blog Listing page --><!--- CASE 5 :  Notes Listing page --><!--- CASE 6 :  Book Listing page --></div>
