<div class="column is-4">
    <div class="block homeblock">
    <h1>Purpose of a System</h1>
    <p1>This is my website.</p>
    <ul>
	<li><em><a href="/notes">Feed</a></em> - Things I write go here</li>
	<li><em><a href="/books">Books</a></em> - Library with summaries, reviews, and ratings</li>
	<li><em><a href="/posts/articles">Articles</a></em> - Things from around the web worth reading
	<li><em><a href="/posts/edit">Edit or Submit</a></em> - How to change or submit something to this website</li>
    </ul>
    </div>
</div>
