<div class="column is-4">
    <div class="block homeblock">
    <h1>Purpose of a System</h1>
    <p>This is my website.</p>
    <figure>
        <img src="../assets/img/hound.jpg" alt="Picture of Dog" style="width:100%">
	<figcaption>Josef Koudelka, 1987</figcaption>
    </figure>

    
	<h3><em><a href="/notes">Feed</a></em></h3> Things I write go here
	<h3><em><a href="/books">Books</a></em></h3> Library with summaries, reviews, and ratings
	<h3><em><a href="/posts/articles">Link Repository</a></em></h3> Things from around the web worth reading
	<h3><em><a href="/posts/edit">Edit or Submit</a></em></h3> How to change or submit something to this website
    <h3><em><a href="/wip">WIP</a></em></h3>Unfinished stuff
    </div>


</div>
