/*! bulma.io v0.8.2 | MIT License | github.com/jgthms/bulma */
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.delete, .is-unselectable, .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.navbar-link:not(.is-arrowless)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em; }

.box-feed:not(:last-child), .content:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child),
.subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child) {
  margin-bottom: 1rem; 
}
.block {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.button.is-loading::after, .loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em; }


.button, .input, .textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top; }
  .button:focus, .input:focus, .textarea:focus, .is-focused.button, .is-focused.input, .is-focused.textarea, .button:active, .input:active, .textarea:active, .is-active.button, .is-active.input, .is-active.textarea {
    outline: none; }
  .button[disabled], .input[disabled], .textarea[disabled],
  fieldset[disabled] .button,
  fieldset[disabled] .input,
  fieldset[disabled] .textarea {
    cursor: not-allowed; }

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
{
  margin: 0;
  padding: 0; 
}

ul {
  list-style: disc; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0em; 
  padding-right: 1.5em;
  }
  td:not([align]),
  th:not([align]) {
    text-align: left; }

html {
  background-color: var(--bg-sub);
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }


body,
button,
input,
select,
textarea {
  text-align: justify;
  font-family: "Averia Serif Libre", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: var(--text-main);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: red;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: var(--text-main); }

code {
  background-color: var(--bg-sub);
  color: #f14668;
  text-align:left;
  text-indent:none;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: var(--border-color);
  display: block;
  height: var(--border-width);
  color: var(--border-color);
  border-style: var(--border-style);
  margin: 0.5rem 0; }

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: .5em;
  margin-top:1em;
  max-width: 100%; }
/* Makes SVGs or image names containing the string "totalinvert_" invertible */
img[src$=".svg"],img[src*="b&w"] {
  /* filter: invert(var(--img-invert)) sepia(var(--img-sepia)) saturate(var(--img-saturate)) hue-rotate(var(--img-hue-rotate)) brightness(var(--img-brightness)) contrast(var(--img-contrast)); */ 
  filter: invert(var(--img-regularInvertLevel)) hue-rotate(var(--img-hue-rotate)) brightness(var(--img-brightness));
  mix-blend-mode: var(--img-mix-blend-mode);
}

img[src*="whiteBalance"] {
  mix-blend-mode: var(--img-mix-blend-mode);
}

input[type="checkbox"],
input[type="radio"] {
  margin-right:.5em;
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: var(--text-main);
  font-weight: 700; }

fieldset {
  border: none; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: var(--bg-sub);
  color: var(--text-main);
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  vertical-align: top; }
  table td:not([align]),
  table th:not([align]) {
    text-align: left; }

table th {
  font-weight: bold;
}



a.tag:hover {
  text-decoration: underline; }

.box-feed {
  background-color: var(--bg-main);
  border-radius: var(--border-radius);
  box-shadow: none;
  color: var(--text-main);
  display: block;
  border: var(--border-style) var(--border-width) var(--border-color);
  padding: 1rem; }

a.box-feed:hover, a.box-feed:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px var(--link); }

a.box-feed:active { 
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px var(--link); }



.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase; }

.highlight {
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0; }
  .highlight pre {
    overflow: auto;
    max-width: 100%; }

.number {
  align-items: center;
  background-color: var(--bg-sub);
  border-radius: 290486px;
  display: inline-flex;
  font-size: 1.25rem;
  height: 2em;
  justify-content: center;
  margin-right: 1.5rem;
  min-width: 2.5em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: top; }
.card {
  background-color: var(--bg-main);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: var(--text-main);
  max-width: 100%;
  position: relative; }

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex; }

.card-header-title {
  align-items: center;
  color: var(--color-bis);
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem; }
  .card-header-title.is-centered {
    justify-content: center; }

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem; }

.card-image {
  display: block;
  position: relative; }

.card-content {
  background-color: transparent;
  padding: 1.5rem; }

.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex; }

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem; }
  .card-footer-item:not(:last-child) {
    border-right: 1px solid #ededed; }

.card .media:not(:last-child) {
  margin-bottom: 1rem; }


.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 9.5in;
  padding: .75rem; 
  padding-bottom: 3.75rem;
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-width: var(--border-width);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .section {
      padding: 3rem 1rem; }
    .section.is-medium {
      padding: 9rem 1.5rem; }
    .section.is-large {
      padding: 18rem 1.5rem; } }
@media only screen and (max-width:1000px) {
.column{
        width: 100%;
    }
    .note-cards {
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: .5rem;
    }
.block {
    margin-left:.25rem;
    margin-right:.25rem;
}
blockquote {
    margin:1rem;

}
}

}

.content ul {
  list-style: disc outside;
  margin-top: 1em; }
  .content ul ul {
    list-style-type: circle;
    margin-top: 0.5em; }
    .content ul ul ul {
      list-style-type: square; }


.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem; }

.box-feed {
  cursor: pointer;
  transition: box-shadow 0.2s; }
  

.box-feed:hover {
  box-shadow: 0px 12px 32px rgba(27, 25, 36, 0.12); }

.box-feed h4 {
  margin-bottom: 4px;
  transition: color 0.2s; }

.box-feed:hover h4 {
  color: var(--link); }

.search-suggestions {
  background: var(--bg-main);
  padding: 1rem 1.953rem; }

.search-suggestions.content a {
  color: var(--text-main);
  transition: color 0.2s; }

.search-suggestions.content li:hover a {
  color: var(--link); }

.search-suggestions.content li + li {
  margin-top: 0.5em; }

.tags.are-medium .tag:not(body) {
  padding: 8px 16px;
  height: 2rem; }

.tags.are-medium.are-white .tag:not(body) {
  background: var(--bg-sub); }

.section.is-note .column.is-primary-content,
.note-page-section {
  background: var(--bg-main);
  border-radius: var(--border-radius);
  position: relative;
  padding: 0.75rem;
  margin: 0 -0.75rem;
}

.section.is-note .box {
  background: var(--bg-sub); }

.content .image.is-fullwidth {
  margin-left: 0;
  margin-right: 0; }

@media screen and (min-width: 600px), print {
  .section.is-note .column.is-primary-content,
    .note-page-section {
        padding: 2rem min(10%,8rem);}
        padding-top: 1.75rem;
  .note-cards .content {
    width: 88%; }
    }

@media screen and (min-width: 769px), print {
  .for-back-home {
    position: absolute;
    left: 0.7rem; } }

.tag:not(body) {
  padding-left: 1em;
  padding-right: 1em; }

a.tag {
  border: 1px solid transparent;
  transition: all 0.2s; }

a.tag:hover {
  border: 1px solid var(--border-color);
  text-decoration: none;
  color: var(--link); }

.tags.are-medium .tag:not(.is-normal):not(.is-large) {
  font-size: 0.8rem; }

  .block-title {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 0.2em;
    padding-top: 16px;
  }

  .homeblock a {
    color : var(--link);
  }

  .homeblock h1 a {
    color : var(--text-main);
  }

  .homeblock h1 a:hover {
    color : var(--link);
  }

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-top:.75em;
}


summary {
    margin: -.5em -.5em 0;
    padding: .5em;
}
details[open] summary{
    padding-bottom:0em;
}

details.mn-left, details.mn-right {
    flex-flow: column;
}
details.mn-left:not([open]) summary::before, details.mn-right:not([open]) summary::before{
    font-weight: bold;
    content: "➤ Expand ";
    text-align: center;
    flex-flow: column;
    padding-top: calc(.5em + 10px);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin-bottom:1em;
}


details.mn-left[open] summary::before, details.mn-right[open] summary::before{
    font-weight: bold;
    content: "➤ Collapse";
    text-align: center;
    flex-flow: column;
    padding-top: calc(.5em + 10px);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin-bottom:1em;
}


figcaption {
    text-align: center;
    margin-bottom: 1em;
    font-style: italic;
    cursor: pointer;
}

.box-feed p {
    text-indent: 0
}
p { 
    margin-bottom: .25em;
}

p + p {
    text-indent: 1.5em;
    margin-top:0;
}

.mn-left + p, .mn-right + p, .sn-left + p, .sn-right + p {
    margin-top:0;
}

button {
    cursor: pointer;
}

